<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxWcEGJgKlinbW-Ck-ixeIh2TUd8MJtkg</string>
	<key>GCM_SENDER_ID</key>
	<string>693225400524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.capsulealpha</string>
	<key>PROJECT_ID</key>
	<string>capsule-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>capsule-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693225400524:ios:3d1435c2047ddb81d0ba69</string>
</dict>
</plist>